/* Inserisco lo stile di default per la pagina */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(243, 239, 239);
}

header {
    background-color: #fff;

}

#header-logo {
    height: 80px;
    width: auto;
    padding: 10px 15px;
    position: relative
}

#header-title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top: 7px;

}



/* Inserisco lo stile del container e del main */

#container {
    width: 60%;
    border-radius: 10px;
    height: auto;
    margin: 20px auto;
    background-color: #fff;
}

nav {
    padding: 25px 50px;
}




/* Definisco una classe per aggiungere i bottoni nell'intestazione del main e successivamente delle classi per i rispettivi colori*/

.add-button {
    padding: 8px;
    width: auto;
    height: 70px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.blu-button {
    background-color: rgb(29, 160, 241);
    color: #fff;
    border: rgb(29, 160, 241) solid 1px;

}

.grey-button {
    background-color: #fff;
    color: gray;
    border: gray solid 1px;
}

hr {
    color: grey;
}



/* Inserisco lo stile del contenitore della todolist */

.do-container {
    padding: 35px 55px;
}

.do-container section {
    margin-bottom: 15px;
}

.bold-text-main {
    display: block;
    color: black;
    font-weight: 800;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.todo-text-main {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#task2 {
    margin-top: 35px;
}

#task3 {
    margin-top: 35px;
}



/* Stilizzo i smboli di verificato e non */

.verify {
    display: inline-block;
    color: green;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: green solid 1px;
}


.no-verify {
    display: inline-block;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: red solid 1px;
}



/* Inserisco lo stile dei button */
/* Avrei potuto definire una singola classe e poi abbinarci degli id per i rispettivi colori per rendere il codice migliore */

.editorial {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(29, 160, 241);
    border: rgb(29, 160, 241) solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.q1-goals {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: darkviolet;
    border: darkviolet solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.recruiting {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
    border: green solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.mobile {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: orange;
    border: orange solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.website {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: violet;
    border: violet solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.sales {
    width: auto;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: lightseagreen;
    border: lightgreen solid 1px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}